<div class="show-composition">
    <div class="show-top">
        <p>Title:</p>
        <p><%= @book.title %></p>
    </div>
    <div class="show-top">
        <p>Body:</p>
        <p><%= @book.body %></p>
    </div>
</div>
<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Back", books_path %>

